body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background: silver;
    width: 100%;
    height: 1000px;
}
.menu {
    background: silver;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftmenu {
    background: darkblue;
    width: 90px;
    height: 35px;
    margin-left: 75px;
    border-radius: 15px;
}



.rightmenu {
    background: silver;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.ikons {
    margin-right: 20px;
    color: black;
}
.body {
    background: darkblue;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
}
.block {
display: flex;
    column-gap: 10px;
    align-items: flex-end;
    position: relative;
    top: 80px;


}
.blocks {
    background: darkorange;
    width: 150px;
    height: 150px;

}






