li{
    background: darkgoldenrod;
    color: brown;
}
h1{
    background: darkgoldenrod;
    color: brown;
}
h2{
    background: darkgoldenrod;
    color: brown;

}
p{
    background: darkgoldenrod;
    color: brown;
}

